Aignition PDF → Excel Data Laundering.json
{
  "name": "Aignition PDF → Excel Data Laundering",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pdf-to-excel",
        "responseMode": "responseNode",
        "options": {
          "binaryData": false
        }
      },
      "id": "739ee994-66a4-45e0-8356-a58767d26ff4",
      "name": "Webhook - Subir ZIP",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -752,
        -144
      ],
      "webhookId": "pdf-to-excel-webhook"
    },
    {
      "parameters": {
        "command": "rm -rf /home/node/facturas/work || true\nmkdir -p /home/node/facturas/work\nunzip -o /home/node/facturas/input.zip -d /home/node/facturas/work/ || true\nls -l /home/node/facturas/work || true"
      },
      "id": "33dbd18d-0927-47af-8707-4b6593550ac4",
      "name": "Descomprimir ZIP",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        128,
        -144
      ]
    },
    {
      "parameters": {
        "functionCode": "// Toma todos los items que vienen del AI Agent\nconst items = $input.all();\nconst results = [];\n\n// Traemos el texto OCR original, alineado por índice\nconst ocrItems = $items(\"Loop Over Items\");\n\n// Traemos el job_id desde el webhook (Edit Fields)\nconst jobId = $items(\"Edit Fields\")?.[0]?.json?.job_id ?? null;\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n\n  // Salida del AI Agent suele venir en item.json.output como string JSON\n  let text = item.json.output ?? item.json.text ?? \"\";\n  text = String(text).trim();\n\n  // Buscar bloque JSON\n  const match = text.match(/{[\\s\\S]*}/);\n  if (!match) continue;\n\n  let parsed;\n  try {\n    parsed = JSON.parse(match[0]);\n  } catch (e) {\n    continue;\n  }\n\n  // Confidence como número 0..1\n  let confidence = parsed.confidence_score ?? null;\n  if (confidence !== null) {\n    confidence = Number(confidence);\n    if (Number.isNaN(confidence)) confidence = null;\n    else confidence = Math.max(0, Math.min(1, confidence));\n  }\n\n  const rawText = ocrItems?.[i]?.json?.text ?? null;\n\n  // IMPORTANTE: acá devolvemos TODO junto (datos + job_id + raw_ocr_text)\n  results.push({\n    json: {\n      job_id: jobId,\n      raw_ocr_text: rawText,\n\n      fecha: parsed.fecha ?? null,\n      moneda: parsed.moneda ?? null,\n      es_moneda_ars: parsed.es_moneda_ars ?? null,\n      es_moneda_usd: parsed.es_moneda_usd ?? null,\n\n      tipo_documento: parsed.tipo_documento ?? null,\n      numero_comprobante: parsed.numero_comprobante ?? null,\n\n      emisor_nombre: parsed.emisor_nombre ?? null,\n      emisor_cuit: parsed.emisor_cuit ?? null,\n\n      receptor_nombre: parsed.receptor_nombre ?? null,\n      receptor_cuit: parsed.receptor_cuit ?? null,\n\n      cliente: parsed.cliente ?? null,\n\n      neto_gravado: parsed.neto_gravado ?? null,\n      iva: parsed.iva ?? null,\n      total: parsed.total ?? null,\n\n      percepcion_ingresos_brutos: parsed.percepcion_ingresos_brutos ?? null,\n      percepcion_iva: parsed.percepcion_iva ?? null,\n\n      documento_relacionado: parsed.documento_relacionado ?? null,\n\n      confidence_score: confidence\n    }\n  });\n}\n\nreturn results;\n"
      },
      "id": "5ea144ff-27c9-4f4c-b5f8-2338d3250bd8",
      "name": "Parsear JSON IA",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2480,
        -176
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6cb67d81-94fe-4c79-9864-d17d38a9faf6",
      "name": "Responder al cliente",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3856,
        -512
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1136,
        -320
      ],
      "id": "8c4021c7-988d-46e1-8cf9-c97be87ff795",
      "name": "Extract from File",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/facturas/input.zip",
        "dataPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -208,
        -144
      ],
      "id": "f976522b-fca7-48fe-b322-4bd518f12882",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "Sos un extractor de datos de facturas de compras.\n\nTu tarea es leer el texto completo de un comprobante (factura, nota de débito, nota de crédito, etc. en español) y devolver SIEMPRE un JSON VÁLIDO con una única estructura fija.\n\nREGLAS GENERALES:\n- RESPONDE SOLO con JSON, sin explicaciones ni texto adicional.\n- NO uses comentarios, ni comillas simples en las claves, ni texto fuera del JSON.\n- Si NO encontrás un dato, ponelo en null (excepto \"confidence_score\", que SIEMPRE debe ser un número entre 0 y 1).\n- La fecha SIEMPRE en formato \"DD-MM-YYYY\".\n- Todos los importes como número (con punto decimal, sin separador de miles).\n- Si un campo puede tener más de una interpretación, elegí la más probable según el contexto del comprobante.\n\nEMISOR vs RECEPTOR:\n- \"emisor\" = quien EMITE la factura/comprobante (proveedor, comercio, empresa emisora).\n- \"receptor\" = quien RECIBE la factura/comprobante (cliente, comprador).\n- NO los mezcles.\n- Para el EMISOR buscá datos cerca del encabezado, logo, dirección de la empresa emisora.\n- Para el RECEPTOR buscá bloques con etiquetas como \"Cliente\", \"Señor(es)\", \"Razón Social\", \"Datos del cliente\", \"Destinatario\".\n- CUIT que esté junto al nombre del emisor → emisor_cuit.\n- CUIT que esté junto al bloque de cliente/receptor → receptor_cuit.\n\nTIPO DE DOCUMENTO:\n- El campo \"tipo_documento\" debe ser uno de:\n  - \"FACTURA_A\"\n  - \"FACTURA_B\"\n  - \"FACTURA_C\"\n  - \"NOTA_DEBITO_A\"\n  - \"NOTA_DEBITO_B\"\n  - \"NOTA_DEBITO_C\"\n  - \"NOTA_CREDITO_A\"\n  - \"NOTA_CREDITO_B\"\n  - \"NOTA_CREDITO_C\"\n  - o null si no se puede determinar.\n\nHeurísticas:\n- Si el título dice \"FACTURA A\", \"FAC. A\", \"FC A\" → \"FACTURA_A\".\n- \"FACTURA B\", \"FAC. B\", \"FC B\" → \"FACTURA_B\".\n- \"FACTURA C\" → \"FACTURA_C\".\n- \"NOTA DE CRÉDITO A\", \"NC A\" → \"NOTA_CREDITO_A\".\n- \"NOTA DE CRÉDITO B\", \"NC B\" → \"NOTA_CREDITO_B\".\n- \"NOTA DE CRÉDITO C\", \"NC C\" → \"NOTA_CREDITO_C\".\n- \"NOTA DE DÉBITO A\", \"ND A\" → \"NOTA_DEBITO_A\".\n- \"NOTA DE DÉBITO B\", \"ND B\" → \"NOTA_DEBITO_B\".\n- \"NOTA DE DÉBITO C\", \"ND C\" → \"NOTA_DEBITO_C\".\n- Si NO aparece la letra pero el título es claramente \"NOTA DE CRÉDITO\" o \"NOTA DE DÉBITO\", usá la letra que aparezca cerca del número de comprobante (por ejemplo \"0001-00001234 B\").\n- Regla especial para FACTURA B:\n  - Si NO aparece la letra \"B\" pero el comprobante dice \"Consumidor Final\" y parece una factura de venta minorista, asumí \"FACTURA_B\".\n\nNÚMERO DE COMPROBANTE:\n- \"numero_comprobante\" debe ser el número principal del comprobante (factura, nota de crédito, nota de débito, etc.).\n- Puede aparecer como \"Número\", \"Nro\", \"N°\", \"Comprobante\", \"Factura N°\", \"Nota de crédito N°\", etc.\n- Si hay varios números, elegí el que esté más cerca del título del documento (Factura, Nota de crédito, Nota de débito).\n- Devolverlo SIEMPRE como string, por ejemplo:\n  - \"0001-00001234\"\n  - \"A-00001234\"\n  - \"1234-567890\"\n- Si realmente no se puede identificar, usar null.\n\nMONEDA:\n- Solo trabajamos con dos monedas: ARS (pesos argentinos) y USD (dólares).\n- Si en el texto aparece \"USD\", \"U$S\", \"U.S.D.\", \"DÓLARES\", \"DOLARES\", asumí que la moneda principal es USD.\n- En cualquier otro caso, asumí que la moneda principal es ARS.\n- \"moneda\" debe ser SIEMPRE \"ARS\" o \"USD\".\n- Además:\n  - \"es_moneda_ars\" = true si \"moneda\" es \"ARS\", false en caso contrario.\n  - \"es_moneda_usd\" = true si \"moneda\" es \"USD\", false en caso contrario.\n\nIMPORTES:\n- \"neto_gravado\": neto sujeto a IVA (sin incluir el IVA).\n  - Buscá textos como \"Neto Gravado\", \"Base imponible\", \"Gravado 21%\", \"Gravado 10,5%\".\n  - Si hay varios, usá el neto principal (el que corresponde a la suma de las alícuotas de IVA).\n- \"iva\": suma del IVA discriminado.\n  - Sumá los importes de IVA de las distintas alícuotas (por ejemplo \"IVA 21%\", \"IVA 10,5%\").\n  - Si solo hay una línea de IVA, usá esa.\n  - Si la factura NO discrimina IVA (por ejemplo FACTURA C o venta final con IVA incluido) → \"iva\": null.\n- \"percepcion_ingresos_brutos\": suma de todas las percepciones de Ingresos Brutos.\n  - Buscá textos como \"Percepción IIBB\", \"Percep. Ingresos Brutos\", \"Perc. Ing. Brutos\".\n- \"percepcion_iva\": suma de todas las percepciones de IVA.\n  - Buscá textos como \"Percepción IVA\", \"Perc. IVA\", \"Perc. IVA RG 2126\", etc.\n- \"total\": el total FINAL del comprobante (lo que realmente se paga).\n  - Si hay varios totales, usá el que diga \"Total\", \"TOTAL A PAGAR\", \"Importe total\", etc.\n\nDOCUMENTO RELACIONADO / ORDEN DE COMPRA:\n- Si el comprobante menciona una orden de compra, remito u otro documento relacionado, informarlo en:\n  - \"documento_relacionado\": texto breve con número y tipo (por ejemplo: \"OC 12345\", \"Remito 0001-00001234\").\n- Si NO hay ningún documento relacionado claro, usar null.\n\nCAMPO DE CONFIANZA:\n- Además de todos los campos solicitados, agrega SIEMPRE este campo extra:\n  - \"confidence_score\": número entre 0 y 1 (por ejemplo 0.93) que indique tu nivel de confianza en que los datos extraídos son correctos en su conjunto.\n- \"confidence_score\" NUNCA debe ser null. Elegí un valor razonable según la claridad del comprobante.\n\nESTRUCTURA DEL JSON (SIEMPRE EXACTAMENTE ESTAS CLAVES):\n\n{\n  \"fecha\": \"DD-MM-YYYY\" o null,\n\n  \"moneda\": \"ARS\" | \"USD\",\n  \"es_moneda_ars\": boolean,\n  \"es_moneda_usd\": boolean,\n\n  \"tipo_documento\": \"FACTURA_A\" | \"FACTURA_B\" | \"FACTURA_C\" | \"NOTA_DEBITO_A\" | \"NOTA_DEBITO_B\" | \"NOTA_DEBITO_C\" | \"NOTA_CREDITO_A\" | \"NOTA_CREDITO_B\" | \"NOTA_CREDITO_C\" | null,\n\n  \"numero_comprobante\": string o null,\n\n  \"emisor_nombre\": string o null,\n  \"emisor_cuit\": string o null,\n\n  \"receptor_nombre\": string o null,\n  \"receptor_cuit\": string o null,\n\n  \"cliente\": string o null,\n\n  \"neto_gravado\": número o null,\n  \"iva\": número o null,\n  \"total\": número o null,\n\n  \"percepcion_ingresos_brutos\": número o null,\n  \"percepcion_iva\": número o null,\n\n  \"documento_relacionado\": string o null,\n\n  \"confidence_score\": número entre 0 y 1 (por ejemplo 0.93)\n}\n\nDEVOLVÉ ÚNICAMENTE UN JSON VÁLIDO CON ESA ESTRUCTURA Y ESOS CAMPOS, SIN TEXTO ADICIONAL."
            },
            {
              "content": "=\n2. En el segundo Prompt (el que dice **Texto del PDF**), dejá la expresión como ya está:\n\n```txt\n{{$json[\"text\"]}}\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2176,
        -528
      ],
      "id": "96d213de-5a70-4565-9117-9b6ed3bfd701",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "vvar2WmKqbhobzXH",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "fileSelector": "/home/node/facturas/work/*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        688,
        -304
      ],
      "id": "c95c9607-cd8d-4691-9b69-cffd771b8efc",
      "name": "Leer PDFs1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1808,
        -192
      ],
      "id": "77ff306e-b2be-42ac-ad46-274c495dcf18",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "788e0e10-54ee-4278-aa6e-0aac9d3fb9bc",
              "name": "job_id",
              "value": "={{$json[\"job_id\"]}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2912,
        -416
      ],
      "id": "976ef9e6-0e7c-4977-b9a4-4e6450ad13ba",
      "name": "Adjuntar Job a filas",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "7bd84bf3-e6d4-4281-a889-ea498201c351",
              "leftValue": "={{ Number($json.total || 0) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3168,
        -480
      ],
      "id": "6a4595a1-5297-49fa-9db3-6fad63fa5298",
      "name": "¿Tiene Factura?"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/facturas/work/*.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        688,
        -80
      ],
      "id": "18ad34e0-7965-406b-af24-ff3ddf801ada",
      "name": "Leer Imagenes JPG",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/facturas/work/*.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        688,
        144
      ],
      "id": "a38e2f24-57be-414a-82a1-58edade8be49",
      "name": "Leer Imagenes PNG",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1376,
        -16
      ],
      "id": "06e4f131-59bf-4c74-8bca-75dc12486bb1",
      "name": "Unir Imagenes OCR"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1600,
        -320
      ],
      "id": "b9585f69-664f-4f6f-be96-d0a18be350f2",
      "name": "Unir todo texto"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n\n  // OCR de Mistral devuelve:\n  // item.json.pages[0].markdown\n  const text =\n    item.json?.pages?.[0]?.markdown ??\n    item.json?.pages?.[0]?.text ??\n    item.json?.text ??\n    JSON.stringify(item.json); // fallback\n\n  results.push({\n    json: {\n      text: (text || \"\").trim(),\n    },\n  });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -112
      ],
      "id": "e42e0bd5-7013-4368-8432-1e7e3b91a603",
      "name": "Normalizar OCR JPG",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentType": "image_url",
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        912,
        -96
      ],
      "id": "51bd8973-6334-41e3-9c30-90835c32d410",
      "name": "Extract text",
      "retryOnFail": true,
      "credentials": {
        "mistralCloudApi": {
          "id": "J1yauZBSlHWWsteJ",
          "name": "Mistral Cloud account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentType": "image_url",
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        912,
        128
      ],
      "id": "9629f634-b3dd-41fd-a06b-e91520e37b11",
      "name": "Extract text1",
      "retryOnFail": true,
      "credentials": {
        "mistralCloudApi": {
          "id": "J1yauZBSlHWWsteJ",
          "name": "Mistral Cloud account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "tableId": "=pdf_job_rows",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "job_id",
              "fieldValue": "={{$json.job_id}}"
            },
            {
              "fieldId": "fecha",
              "fieldValue": "={{ $json.fecha ? $json.fecha.split('-').reverse().join('-') : null }}"
            },
            {
              "fieldId": "tipo_documento",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.tipo_documento }}"
            },
            {
              "fieldId": "numero_comprobante",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.numero_comprobante }}"
            },
            {
              "fieldId": "moneda",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.moneda }}"
            },
            {
              "fieldId": "es_moneda_ars",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.es_moneda_ars }}"
            },
            {
              "fieldId": "es_moneda_usd",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.es_moneda_usd }}"
            },
            {
              "fieldId": "proveedor",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.emisor_nombre }}"
            },
            {
              "fieldId": "cuit",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.emisor_cuit }}"
            },
            {
              "fieldId": "receptor_nombre",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.receptor_nombre }}"
            },
            {
              "fieldId": "receptor_cuit",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.receptor_cuit }}"
            },
            {
              "fieldId": "importe_neto",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.neto_gravado }}"
            },
            {
              "fieldId": "total",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.total }}"
            },
            {
              "fieldId": "percepcion_ingresos_brutos",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.percepcion_ingresos_brutos }}"
            },
            {
              "fieldId": "percepcion_iva",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.percepcion_iva }}"
            },
            {
              "fieldId": "documento_relacionado",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.documento_relacionado }}"
            },
            {
              "fieldId": "iva",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.iva }}"
            },
            {
              "fieldId": "llm_model",
              "fieldValue": "={{ 'gemini-2.0-flash' }}"
            },
            {
              "fieldId": "ocr_model",
              "fieldValue": "={{ 'mistral-ocr + extract-from-file' }}"
            },
            {
              "fieldId": "processed_at",
              "fieldValue": "={{ (new Date()).toISOString() }}"
            },
            {
              "fieldId": "raw_ocr_text",
              "fieldValue": "={{$json.raw_ocr_text || $json.text}}"
            },
            {
              "fieldId": "confidence_score",
              "fieldValue": "={{$json.confidence_score}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3408,
        -496
      ],
      "id": "d330c4b3-322b-44b2-b6da-fac9d9389690",
      "name": "Create a row",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "DAhNF13IIXxF6LTl",
          "name": "Supabase Data Laundering"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e6978f04-ea3b-42cd-a71d-0b65711bb51b",
              "name": "job_id",
              "value": "={{$json[\"body\"][\"job_id\"]}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -144
      ],
      "id": "8ebd10b7-f36f-4614-9042-76cf4384a339",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n\n  // OCR de Mistral devuelve:\n  // item.json.pages[0].markdown\n  const text =\n    item.json?.pages?.[0]?.markdown ??\n    item.json?.pages?.[0]?.text ??\n    item.json?.text ??\n    JSON.stringify(item.json); // fallback\n\n  results.push({\n    json: {\n      text: (text || \"\").trim(),\n    },\n  });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        112
      ],
      "id": "670b9384-63e8-4ee5-ae18-100da6dc870c",
      "name": "Normalizar OCR PNG",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pdf_jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{$item(0).$node[\"Edit Fields\"].json[\"job_id\"]}}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "error"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{ \n  'Error en job ' + $item(0).$node[\"Edit Fields\"].json[\"job_id\"] + ': ' +\n  ($json.message || $json.error?.message || 'Error al crear filas pdf_job_rows')\n}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3616,
        -96
      ],
      "id": "e52cfe41-d7f5-43aa-ae97-e00daabcf008",
      "name": "Marcar job en error",
      "credentials": {
        "supabaseApi": {
          "id": "DAhNF13IIXxF6LTl",
          "name": "Supabase Data Laundering"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pdf_jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{$item(0).$node[\"Edit Fields\"].json[\"job_id\"]}}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json[\"failed_documents\"] > 0 ? \"done_with_warnings\" : \"done\" }}"
            },
            {
              "fieldId": "total_documents",
              "fieldValue": "={{ $json[\"total_documents\"] }}"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{null}}"
            },
            {
              "fieldId": "processed_documents",
              "fieldValue": "={{ $json[\"processed_documents\"] }}"
            },
            {
              "fieldId": "failed_documents",
              "fieldValue": "={{ $json[\"failed_documents\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4064,
        -704
      ],
      "id": "e9225f43-e2b5-4608-8442-e18a3e9fa292",
      "name": "Marcar job completado",
      "credentials": {
        "supabaseApi": {
          "id": "DAhNF13IIXxF6LTl",
          "name": "Supabase Data Laundering"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * total_documents:\n *   cantidad de items que realmente pasaron por \"Unir todo texto\"\n */\nconst total = $items(\"Unir todo texto\").length;\n\n/**\n * processed_documents:\n *   cantidad de filas válidas creadas en pdf_job_rows\n */\nconst processed = $items(\"Contar documentos procesados\").length;\n\n/**\n * failed_documents:\n *   documentos detectados - documentos procesados\n *   PERO solo si realmente hubo un fallo de OCR o LLM.\n */\nlet failed = 0;\n\n// Detectamos fallos reales revisando el output del LLM y del OCR\nconst llmItems = $items(\"Adjuntar Job a filas\");\nconst ocrItems = $items(\"Loop Over Items\");\n\nfor (let i = 0; i < total; i++) {\n  const llm = llmItems[i]?.json;\n  const ocr = ocrItems[i]?.json;\n\n  const noTexto = !ocr?.text || ocr.text.trim().length === 0;\n  const noLlm = llm == null || (llm.total == null && llm.confidence_score == null);\n  const bajaConfianza = llm?.confidence_score < 0.8;\n\n  if (noTexto || noLlm || bajaConfianza) {\n    failed++;\n  }\n}\n\n// Y nos aseguramos que failed nunca rompa processed vs total\nfailed = Math.min(failed, total - processed);\n\nreturn [\n  {\n    json: {\n      total_documents: total,\n      processed_documents: processed,\n      failed_documents: failed,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3856,
        -704
      ],
      "id": "0334af50-debf-40e1-bd1c-863ff56567da",
      "name": "Calcular totales y fallos"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "pdf_job_rows",
        "limit": 1000,
        "filters": {
          "conditions": [
            {
              "keyName": "job_id",
              "condition": "eq",
              "keyValue": "={{ $item(0).$node[\"Edit Fields\"].json[\"job_id\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3616,
        -704
      ],
      "id": "4a981de5-c045-46de-a761-ab402958baf3",
      "name": "Contar documentos procesados",
      "credentials": {
        "supabaseApi": {
          "id": "DAhNF13IIXxF6LTl",
          "name": "Supabase Data Laundering"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pdf_jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $node[\"Edit Fields\"].json[\"job_id\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{null}}"
            },
            {
              "fieldId": "total_documents",
              "fieldValue": "0"
            },
            {
              "fieldId": "processed_documents",
              "fieldValue": "0"
            },
            {
              "fieldId": "failed_documents",
              "fieldValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -208,
        -368
      ],
      "id": "1e8ba595-50bf-4616-b2d3-ce871f809851",
      "name": "Marcar job en procesamiento",
      "credentials": {
        "supabaseApi": {
          "id": "DAhNF13IIXxF6LTl",
          "name": "Supabase Data Laundering"
        }
      }
    },
    {
      "parameters": {
        "tableId": "pdf_document_audit_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "document_row_id",
              "fieldValue": "={{ $json[\"id\"] }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "={{ 'llm_completed' }}"
            },
            {
              "fieldId": "payload",
              "fieldValue": "={{ JSON.stringify({\n  job_id: $json[\"job_id\"],\n  numero_comprobante: $json[\"numero_comprobante\"],\n  moneda: $json[\"moneda\"],\n  total: $json[\"total\"],\n  llm_model: $json[\"llm_model\"],\n  ocr_model: $json[\"ocr_model\"],\n  confidence_score: $json[\"confidence_score\"],\n  status: \"created\"\n}) }}\n"
            },
            {
              "fieldId": "created_by",
              "fieldValue": "={{ 'system:n8n' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3616,
        -416
      ],
      "id": "37198ac6-1baf-47dc-ab6b-846e2e4e6722",
      "name": "Log documento creado",
      "credentials": {
        "supabaseApi": {
          "id": "DAhNF13IIXxF6LTl",
          "name": "Supabase Data Laundering"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "86a6101b-e95b-4dec-bcc5-44faa1b0506f",
              "leftValue": "={{ $json[\"confidence_score\"] || 0 }}",
              "rightValue": 0.8,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3616,
        -240
      ],
      "id": "2cb74379-fe48-4bb4-85d1-df95ff5832b8",
      "name": "Confianza baja?"
    },
    {
      "parameters": {
        "tableId": "pdf_document_audit_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "document_row_id",
              "fieldValue": "={{ $json[\"id\"] }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "={{ 'low_confidence' }}"
            },
            {
              "fieldId": "payload",
              "fieldValue": "={{ JSON.stringify({\n  job_id: $json[\"job_id\"],\n  numero_comprobante: $json[\"numero_comprobante\"],\n  moneda: $json[\"moneda\"],\n  total: $json[\"total\"],\n  llm_model: $json[\"llm_model\"],\n  ocr_model: $json[\"ocr_model\"],\n  confidence_score: $json[\"confidence_score\"]\n}) }}"
            },
            {
              "fieldId": "created_by",
              "fieldValue": "={{ 'system:n8n' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3856,
        -256
      ],
      "id": "96b81886-c3ad-4f13-a1a8-e7aef101463b",
      "name": "Log low confidence",
      "credentials": {
        "supabaseApi": {
          "id": "DAhNF13IIXxF6LTl",
          "name": "Supabase Data Laundering"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pdf_job_rows",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json[\"id\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_error_message",
              "fieldValue": "={{ \"LOW_CONFIDENCE\" }}"
            },
            {
              "fieldId": "retry_count",
              "fieldValue": "={{ 0 }}"
            },
            {
              "fieldId": "max_retries",
              "fieldValue": "={{ 0 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4064,
        -256
      ],
      "id": "e40ba07b-8e5e-4c23-a7f8-11c6880e5356",
      "name": "Marcar documento baja confianza",
      "credentials": {
        "supabaseApi": {
          "id": "DAhNF13IIXxF6LTl",
          "name": "Supabase Data Laundering"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json[\"text\"]}}",
        "options": {
          "systemMessage": "Sos un extractor de datos de facturas de compras.\n\nTu tarea es leer el texto completo de un comprobante (factura, nota de débito, nota de crédito, etc. en español) y devolver SIEMPRE un JSON VÁLIDO con una única estructura fija.\n\nREGLAS GENERALES:\n- RESPONDE SOLO con JSON, sin explicaciones ni texto adicional.\n- NO uses comentarios, ni comillas simples en las claves, ni texto fuera del JSON.\n- Si NO encontrás un dato, ponelo en null (excepto \"confidence_score\", que SIEMPRE debe ser un número entre 0 y 1).\n- La fecha SIEMPRE en formato \"DD-MM-YYYY\".\n- Todos los importes como número (con punto decimal, sin separador de miles).\n- Si un campo puede tener más de una interpretación, elegí la más probable según el contexto del comprobante.\n\nEMISOR vs RECEPTOR:\n- \"emisor\" = quien EMITE la factura/comprobante (proveedor, comercio, empresa emisora).\n- \"receptor\" = quien RECIBE la factura/comprobante (cliente, comprador).\n- NO los mezcles.\n- Para el EMISOR buscá datos cerca del encabezado, logo, dirección de la empresa emisora.\n- Para el RECEPTOR buscá bloques con etiquetas como \"Cliente\", \"Señor(es)\", \"Razón Social\", \"Datos del cliente\", \"Destinatario\".\n- CUIT que esté junto al nombre del emisor → emisor_cuit.\n- CUIT que esté junto al bloque de cliente/receptor → receptor_cuit.\n\nTIPO DE DOCUMENTO:\n- El campo \"tipo_documento\" debe ser uno de:\n  - \"FACTURA_A\"\n  - \"FACTURA_B\"\n  - \"FACTURA_C\"\n  - \"NOTA_DEBITO_A\"\n  - \"NOTA_DEBITO_B\"\n  - \"NOTA_DEBITO_C\"\n  - \"NOTA_CREDITO_A\"\n  - \"NOTA_CREDITO_B\"\n  - \"NOTA_CREDITO_C\"\n  - o null si no se puede determinar.\n\nHeurísticas:\n- Si el título dice \"FACTURA A\", \"FAC. A\", \"FC A\" → \"FACTURA_A\".\n- \"FACTURA B\", \"FAC. B\", \"FC B\" → \"FACTURA_B\".\n- \"FACTURA C\" → \"FACTURA_C\".\n- \"NOTA DE CRÉDITO A\", \"NC A\" → \"NOTA_CREDITO_A\".\n- \"NOTA DE CRÉDITO B\", \"NC B\" → \"NOTA_CREDITO_B\".\n- \"NOTA DE CRÉDITO C\", \"NC C\" → \"NOTA_CREDITO_C\".\n- \"NOTA DE DÉBITO A\", \"ND A\" → \"NOTA_DEBITO_A\".\n- \"NOTA DE DÉBITO B\", \"ND B\" → \"NOTA_DEBITO_B\".\n- \"NOTA DE DÉBITO C\", \"ND C\" → \"NOTA_DEBITO_C\".\n- Si NO aparece la letra pero el título es claramente \"NOTA DE CRÉDITO\" o \"NOTA DE DÉBITO\", usá la letra que aparezca cerca del número de comprobante (por ejemplo \"0001-00001234 B\").\n- Regla especial para FACTURA B:\n  - Si NO aparece la letra \"B\" pero el comprobante dice \"Consumidor Final\" y parece una factura de venta minorista, asumí \"FACTURA_B\".\n\nNÚMERO DE COMPROBANTE:\n- \"numero_comprobante\" debe ser el número principal del comprobante (factura, nota de crédito, nota de débito, etc.).\n- Puede aparecer como \"Número\", \"Nro\", \"N°\", \"Comprobante\", \"Factura N°\", \"Nota de crédito N°\", etc.\n- Si hay varios números, elegí el que esté más cerca del título del documento (Factura, Nota de crédito, Nota de débito).\n- Devolverlo SIEMPRE como string, por ejemplo:\n  - \"0001-00001234\"\n  - \"A-00001234\"\n  - \"1234-567890\"\n- Si realmente no se puede identificar, usar null.\n\nMONEDA:\n- Solo trabajamos con dos monedas: ARS (pesos argentinos) y USD (dólares).\n- Si en el texto aparece \"USD\", \"U$S\", \"U.S.D.\", \"DÓLARES\", \"DOLARES\", asumí que la moneda principal es USD.\n- En cualquier otro caso, asumí que la moneda principal es ARS.\n- \"moneda\" debe ser SIEMPRE \"ARS\" o \"USD\".\n- Además:\n  - \"es_moneda_ars\" = true si \"moneda\" es \"ARS\", false en caso contrario.\n  - \"es_moneda_usd\" = true si \"moneda\" es \"USD\", false en caso contrario.\n\nIMPORTES:\n- \"neto_gravado\": neto sujeto a IVA (sin incluir el IVA).\n  - Buscá textos como \"Neto Gravado\", \"Base imponible\", \"Gravado 21%\", \"Gravado 10,5%\".\n  - Si hay varios, usá el neto principal (el que corresponde a la suma de las alícuotas de IVA).\n- \"iva\": suma del IVA discriminado.\n  - Sumá los importes de IVA de las distintas alícuotas (por ejemplo \"IVA 21%\", \"IVA 10,5%\").\n  - Si solo hay una línea de IVA, usá esa.\n  - Si la factura NO discrimina IVA (por ejemplo FACTURA C o venta final con IVA incluido) → \"iva\": null.\n- \"percepcion_ingresos_brutos\": suma de todas las percepciones de Ingresos Brutos.\n  - Buscá textos como \"Percepción IIBB\", \"Percep. Ingresos Brutos\", \"Perc. Ing. Brutos\".\n- \"percepcion_iva\": suma de todas las percepciones de IVA.\n  - Buscá textos como \"Percepción IVA\", \"Perc. IVA\", \"Perc. IVA RG 2126\", etc.\n- \"total\": el total FINAL del comprobante (lo que realmente se paga).\n  - Si hay varios totales, usá el que diga \"Total\", \"TOTAL A PAGAR\", \"Importe total\", etc.\n\nDOCUMENTO RELACIONADO / ORDEN DE COMPRA:\n- Si el comprobante menciona una orden de compra, remito u otro documento relacionado, informarlo en:\n  - \"documento_relacionado\": texto breve con número y tipo (por ejemplo: \"OC 12345\", \"Remito 0001-00001234\").\n- Si NO hay ningún documento relacionado claro, usar null.\n\nCAMPO DE CONFIANZA:\n- Además de todos los campos solicitados, agrega SIEMPRE este campo extra:\n  - \"confidence_score\": número entre 0 y 1 (por ejemplo 0.93) que indique tu nivel de confianza en que los datos extraídos son correctos en su conjunto.\n- \"confidence_score\" NUNCA debe ser null. Elegí un valor razonable según la claridad del comprobante.\n\nESTRUCTURA DEL JSON (SIEMPRE EXACTAMENTE ESTAS CLAVES):\n\n{\n  \"fecha\": \"DD-MM-YYYY\" o null,\n\n  \"moneda\": \"ARS\" | \"USD\",\n  \"es_moneda_ars\": boolean,\n  \"es_moneda_usd\": boolean,\n\n  \"tipo_documento\": \"FACTURA_A\" | \"FACTURA_B\" | \"FACTURA_C\" | \"NOTA_DEBITO_A\" | \"NOTA_DEBITO_B\" | \"NOTA_DEBITO_C\" | \"NOTA_CREDITO_A\" | \"NOTA_CREDITO_B\" | \"NOTA_CREDITO_C\" | null,\n\n  \"numero_comprobante\": string o null,\n\n  \"emisor_nombre\": string o null,\n  \"emisor_cuit\": string o null,\n\n  \"receptor_nombre\": string o null,\n  \"receptor_cuit\": string o null,\n\n  \"cliente\": string o null,\n\n  \"neto_gravado\": número o null,\n  \"iva\": número o null,\n  \"total\": número o null,\n\n  \"percepcion_ingresos_brutos\": número o null,\n  \"percepcion_iva\": número o null,\n\n  \"documento_relacionado\": string o null,\n\n  \"confidence_score\": número entre 0 y 1 (por ejemplo 0.93)\n}\n\nDEVOLVÉ ÚNICAMENTE UN JSON VÁLIDO CON ESA ESTRUCTURA Y ESOS CAMPOS, SIN TEXTO ADICIONAL"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2080,
        -176
      ],
      "id": "39a1a062-1155-42a9-8811-b33104868823",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2064,
        80
      ],
      "id": "ba590113-ef75-40ad-9fd4-b9b7c727fb1f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3wWpOg0wz93MEOwO",
          "name": "Openai ViajeroTop"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Subir ZIP": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descomprimir ZIP": {
      "main": [
        [
          {
            "node": "Leer Imagenes JPG",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leer Imagenes PNG",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leer PDFs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear JSON IA": {
      "main": [
        [
          {
            "node": "Adjuntar Job a filas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar job en error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Unir todo texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Descomprimir ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        []
      ]
    },
    "Leer PDFs1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adjuntar Job a filas": {
      "main": [
        [
          {
            "node": "¿Tiene Factura?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar job en error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene Factura?": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Imagenes JPG": {
      "main": [
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Imagenes PNG": {
      "main": [
        [
          {
            "node": "Extract text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir Imagenes OCR": {
      "main": [
        [
          {
            "node": "Unir todo texto",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Unir todo texto": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar OCR JPG": {
      "main": [
        [
          {
            "node": "Unir Imagenes OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text": {
      "main": [
        [
          {
            "node": "Normalizar OCR JPG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text1": {
      "main": [
        [
          {
            "node": "Normalizar OCR PNG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Responder al cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Contar documentos procesados",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log documento creado",
            "type": "main",
            "index": 0
          },
          {
            "node": "Confianza baja?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar job en error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Marcar job en procesamiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar OCR PNG": {
      "main": [
        [
          {
            "node": "Unir Imagenes OCR",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Calcular totales y fallos": {
      "main": [
        [
          {
            "node": "Marcar job completado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contar documentos procesados": {
      "main": [
        [
          {
            "node": "Calcular totales y fallos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar job en procesamiento": {
      "main": [
        []
      ]
    },
    "Confianza baja?": {
      "main": [
        [
          {
            "node": "Log low confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log low confidence": {
      "main": [
        [
          {
            "node": "Marcar documento baja confianza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parsear JSON IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "41d0eb70-6d58-465b-ae56-06fb43577a61",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf317c1711cc743061428d8653cf7730f5a7a4f4d293790b1dd90ddfc4b09987"
  },
  "id": "lMwboNxgo9QNkXot",
  "tags": []
}