workflow_pf6_fixed_v2.json
{
  "name": "Aignition PDF → Excel Data Laundering",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pdf-to-excel",
        "responseMode": "responseNode",
        "options": {
          "binaryData": false
        }
      },
      "id": "594e89fd-eaf9-4a89-9e23-9410548e4aa3",
      "name": "Webhook - Subir ZIP",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -8592,
        -192
      ],
      "webhookId": "pdf-to-excel-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e6978f04-ea3b-42cd-a71d-0b65711bb51b",
              "name": "job_id",
              "value": "={{$json[\"body\"][\"job_id\"]}}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "name": "client_name",
              "value": "={{$json[\"body\"][\"client_name\"] ?? \"\"}}",
              "type": "string"
            },
            {
              "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
              "name": "client_cuit",
              "value": "={{$json[\"body\"][\"client_cuit\"] ?? \"\"}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8368,
        -192
      ],
      "id": "19edd2e4-e802-4346-8b22-485f4f1ced11",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/facturas/input.archive",
        "dataPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -8048,
        -192
      ],
      "id": "3c7f9146-eec1-4aad-8128-59ff5907a067",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pdf_jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $node[\"Edit Fields\"].json[\"job_id\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{null}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -8048,
        -416
      ],
      "id": "2c4b9ee8-a49b-4399-bcc2-3df22093f10a",
      "name": "Marcar job en procesamiento",
      "credentials": {
        "supabaseApi": {
          "id": "DAhNF13IIXxF6LTl",
          "name": "Supabase Data Laundering"
        }
      }
    },
    {
      "parameters": {
        "command": "rm -rf /home/node/facturas/work || true\nmkdir -p /home/node/facturas/work\n\n7z x /home/node/facturas/input.archive -o/home/node/facturas/work/ -y 2>&1\n\n# Mover todos los PDFs de subcarpetas al root\nfind /home/node/facturas/work -mindepth 2 \\( -iname \"*.pdf\" -o -iname \"*.jpg\" -o -iname \"*.jpeg\" -o -iname \"*.png\" \\) -exec mv -t /home/node/facturas/work/ {} + 2>/dev/null || true\n\n# Borrar subcarpetas vacías\nfind /home/node/facturas/work -mindepth 1 -type d -exec rmdir {} + 2>/dev/null || true\n\n# Normalizar extensiones a minúsculas\nfor f in /home/node/facturas/work/*.PDF; do [ -f \"$f\" ] && mv \"$f\" \"${f%.PDF}.pdf\"; done\nfor f in /home/node/facturas/work/*.JPG; do [ -f \"$f\" ] && mv \"$f\" \"${f%.JPG}.jpg\"; done\nfor f in /home/node/facturas/work/*.JPEG; do [ -f \"$f\" ] && mv \"$f\" \"${f%.JPEG}.jpeg\"; done\nfor f in /home/node/facturas/work/*.PNG; do [ -f \"$f\" ] && mv \"$f\" \"${f%.PNG}.png\"; done\n\n\n# ── Extraer adjuntos PDF embebidos de cada factura (pdfdetach) ──────────────\nmkdir -p /home/node/facturas/work/adj\nfor _f in /home/node/facturas/work/*.pdf; do\n  [ -f \"$_f\" ] || continue\n  _base=$(basename \"$_f\" .pdf)\n  _tmpdir=$(mktemp -d)\n  pdfdetach -saveall -o \"$_tmpdir/\" \"$_f\" 2>/dev/null || true\n  for _adj in \"$_tmpdir\"/*.pdf \"$_tmpdir\"/*.PDF; do\n    [ -f \"$_adj\" ] || continue\n    _adjname=$(basename \"$_adj\")\n    _adjbase=\"${_adjname%.pdf}\"; _adjbase=\"${_adjbase%.PDF}\"\n    _dest=\"/home/node/facturas/work/adj/__adj__${_base}__${_adjbase}.pdf\"\n    mv \"$_adj\" \"$_dest\" 2>/dev/null || true\n    _obra=$(pdftotext \"$_dest\" - 2>/dev/null | grep -ioE 'para la obra[^0-9]*[0-9]+' | grep -oE '[0-9]+$' | head -1)\n    [ -n \"$_obra\" ] && echo \"$_obra\" > \"${_dest%.pdf}.obra\" || true\n  done\n  rm -rf \"$_tmpdir\"\ndone\n\nif command -v pdftoppm >/dev/null 2>&1 && command -v pdftotext >/dev/null 2>&1; then\n  for f in /home/node/facturas/work/*.pdf; do\n    [ -f \"$f\" ] || continue\n    _base=\"${f%.pdf}\"\n    [ -f \"${_base}.png\" ] && continue\n    _text=$(pdftotext \"$f\" - 2>/dev/null)\n    _cuit=$(printf '%s' \"$_text\" | grep -oE '[0-9]{11}' | head -1)\n    _keyword=$(printf '%s' \"$_text\" | grep -ciE '(factura|cuit|total|iva|comprobante|importe)')\n    if [ -z \"$_cuit\" ] && [ \"${_keyword:-0}\" -lt 3 ]; then\n      pdftoppm -png -r 200 -f 1 -l 1 \"$f\" \"$_base\" 2>/dev/null || true\n      for _p in \"${_base}\"-*.png; do\n        [ -f \"$_p\" ] && mv \"$_p\" \"${_base}.png\" 2>/dev/null && break\n      done\n      [ -f \"${_base}.png\" ] && rm -f \"$f\"\n    fi\n  done\nfi\n\n_adj_total=0\nfor _adjf in /home/node/facturas/work/adj/__adj__*.pdf; do\n  [ -f \"$_adjf\" ] && _adj_total=$((_adj_total + 1))\ndone\necho \"ADJ_COUNT=${_adj_total}\"\n\nls -lah /home/node/facturas/work || true"
      },
      "id": "36e2bec6-e786-4649-b97f-3727885a842d",
      "name": "Descomprimir ZIP2",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -7776,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs=require('fs'),path=require('path');\nconst workDir='/home/node/facturas/work',adjDir=path.join(workDir,'adj');\nconst ocMap={},diagnostics=[];\nfunction readCodigoObra(p){try{const f=p.replace(/\\.pdf$/i,'.obra');if(fs.existsSync(f)){const r=fs.readFileSync(f,'utf8').trim();if(r)return r.replace(/^0+/,'')||r;}}catch(e){}return null;}\nconst obraMap={};\ntry{if(fs.existsSync(adjDir))fs.readdirSync(adjDir).filter(f=>f.toLowerCase().endsWith('.pdf')).forEach(af=>{const c=readCodigoObra(path.join(adjDir,af));if(c)obraMap[af]=c;});}catch(e){}\nconst adjFileMap={};\ntry{if(fs.existsSync(adjDir))fs.readdirSync(adjDir).filter(f=>f.startsWith('__adj__')&&f.toLowerCase().endsWith('.pdf')).forEach(af=>{const wp=af.slice(7),si=wp.lastIndexOf('__');if(si===-1)return;const parent=wp.slice(0,si)+'.pdf',adjName=wp.slice(si+2);if(!adjFileMap[parent])adjFileMap[parent]=[];adjFileMap[parent].push({adjFile:af,adjName});});}catch(e){}\ntry{const filesInDir=new Set(fs.readdirSync(workDir).filter(f=>f.toLowerCase().endsWith('.pdf')));\nfor(const file of new Set([...filesInDir,...Object.keys(adjFileMap)])){\n  const adjEntries=adjFileMap[file]||[],ocEntries=[],filenames=adjEntries.map(e=>e.adjName);\n  for(const{adjFile,adjName}of adjEntries){if(/remito/i.test(adjName))continue;for(const num of(adjName.match(/\\d{4,}/g)||[])){const clean=num.replace(/^0+/,'')||num;if(!ocEntries.find(e=>e.numero_oc===clean))ocEntries.push({numero_oc:clean,nombre_adjunto:adjName,codigo_obra:obraMap[adjFile]||null});}}\n  if(ocEntries.length>0)ocMap[file]=ocEntries;\n  diagnostics.push({file,attachment_filenames:filenames,oc_entries:ocEntries,error:null});\n}}catch(e){return[{json:{stdout:'{}',error:e.message,diagnostics:[]}}];}\nreturn[{json:{stdout:JSON.stringify(ocMap),oc_map:ocMap,obra_map:obraMap,diagnostics,total_pdfs:diagnostics.length,pdfs_with_oc:Object.keys(ocMap).length}}];\n"
      },
      "id": "d740b5dd-d567-4e6e-bfad-f4e60c182f77",
      "name": "Leer OC Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7376,
        48
      ]
    },
    {
      "parameters": {
        "fileSelector": "/home/node/facturas/work/*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -7152,
        -352
      ],
      "id": "fc771cca-f771-40ea-a162-5567784bc3a9",
      "name": "Leer PDFs1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  // Buscar fileName en cualquier clave del objeto binary\n  let fileName = '';\n  const binary = item.binary || {};\n  for (const key of Object.keys(binary)) {\n    const candidate = binary[key]?.fileName || binary[key]?.name || '';\n    if (candidate) { fileName = candidate; break; }\n  }\n  // Extraer solo el nombre base (sin path completo)\n  fileName = fileName.split('/').pop().split('\\\\\\\\').pop();\n  return { ...item, json: { ...item.json, fileName } };\n});\n"
      },
      "id": "04790fb8-52c9-4e0b-a0c9-a128ba75b227",
      "name": "Añadir fileName PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6992,
        -352
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -6704,
        -368
      ],
      "id": "b6f30898-9f74-4b23-9a0a-24e27d93187d",
      "name": "Extract from File",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst pdfItems = $items(\"Añadir fileName PDF\");\n\nreturn items.map((item, i) => ({\n  json: {\n    text: item.json?.text || '',\n    fileName: pdfItems[i]?.json?.fileName || item.binary?.data?.fileName || item.binary?.file?.fileName || ''\n  }\n}));"
      },
      "id": "62e136d5-00bd-4ec7-9960-b078472421e6",
      "name": "Normalizar PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6480,
        -368
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "functionCode": "const ocMap = $items(\"Leer OC Map\")?.[0]?.json?.oc_map || {};\n\nfunction resolveOcEntries(fn) {\n  if (!fn) return [];\n  // Extraer solo el nombre base por si llega como path completo\n  const base = fn.split('/').pop().split('\\\\').pop();\n  return ocMap[fn]\n    || ocMap[base]\n    || ocMap[base.replace(/\\.[^.]+$/, '') + '.pdf']\n    || ocMap[base.replace(/\\.[^.]+$/, '')]\n    || ocMap[fn.replace(/\\.[^.]+$/, '') + '.pdf']\n    || ocMap[fn.replace(/\\.[^.]+$/, '')]\n    || [];\n}\n\nreturn $input.all().map(item => {\n  const fn = item.json.fileName || '';\n  const raw = resolveOcEntries(fn);\n  return {\n    json: {\n      ...item.json,\n      oc_map: ocMap,\n      oc_entries_pre: Array.isArray(raw) ? raw : (raw ? [raw] : []),\n      source_file_resolved: (fn.split('/').pop().split('\\\\').pop()) || null,\n    }\n  };\n});\n"
      },
      "id": "c9ab6afe-2a91-46bd-85ca-3e51b5373425",
      "name": "Inyectar OC Map",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -6000,
        -368
      ]
    },
    {
      "parameters": {
        "fileSelector": "/home/node/facturas/work/*.{jpg,jpeg}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -7152,
        -128
      ],
      "id": "96474d11-7174-451d-8da4-68e640e561d7",
      "name": "Leer Imagenes JPG",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/facturas/work/*.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -7104,
        112
      ],
      "id": "34ec37b6-8240-4cfc-af3e-9346a4e18176",
      "name": "Leer Imagenes PNG",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentType": "image_url",
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        -6928,
        -144
      ],
      "id": "bd12ca8e-f3f7-483d-a816-ff81e85d9c75",
      "name": "Extract text",
      "retryOnFail": true,
      "credentials": {
        "mistralCloudApi": {
          "id": "J1yauZBSlHWWsteJ",
          "name": "Mistral Cloud account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentType": "image_url",
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        -6928,
        160
      ],
      "id": "434a5778-ecbd-4bdc-b044-f40cbebebc4c",
      "name": "Extract text1",
      "retryOnFail": true,
      "credentials": {
        "mistralCloudApi": {
          "id": "J1yauZBSlHWWsteJ",
          "name": "Mistral Cloud account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst sourceItems = $items(\"Leer Imagenes JPG\");\nconst results = [];\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const text = item.json?.pages?.[0]?.markdown\n    ?? item.json?.pages?.[0]?.text\n    ?? item.json?.text\n    ?? JSON.stringify(item.json);\n  const srcBin = sourceItems[i]?.binary || {};\n  let fileName = '';\n  for (const key of Object.keys(srcBin)) {\n    const candidate = srcBin[key]?.fileName || srcBin[key]?.name || '';\n    if (candidate) { fileName = candidate; break; }\n  }\n  fileName = fileName.split('/').pop().split('\\\\\\\\').pop();\n  results.push({ json: { text: (text || '').trim(), fileName } });\n}\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6704,
        -160
      ],
      "id": "9660db42-2a57-49bb-8d33-c7a13dc700b5",
      "name": "Normalizar OCR JPG",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst sourceItems = $items(\"Leer Imagenes PNG\");\nconst results = [];\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const text = item.json?.pages?.[0]?.markdown\n    ?? item.json?.pages?.[0]?.text\n    ?? item.json?.text\n    ?? JSON.stringify(item.json);\n  // Leer fileName del nodo original (antes de que Mistral borre el binario)\n  const srcBin = sourceItems[i]?.binary || {};\n  let fileName = '';\n  for (const key of Object.keys(srcBin)) {\n    const candidate = srcBin[key]?.fileName || srcBin[key]?.name || '';\n    if (candidate) { fileName = candidate; break; }\n  }\n  fileName = fileName.split('/').pop().split('\\\\\\\\').pop();\n  results.push({ json: { text: (text || '').trim(), fileName } });\n}\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6704,
        144
      ],
      "id": "a1ecbfca-9dc8-4c9d-9f23-6ef4f8ea6b58",
      "name": "Normalizar OCR PNG",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -6464,
        -64
      ],
      "id": "63e6a064-9e3f-48de-b472-fa41864c4bfe",
      "name": "Unir Imagenes OCR"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -6240,
        -368
      ],
      "id": "890b678a-37c4-4870-90db-517aa04b23b6",
      "name": "Unir todo texto"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -6000,
        -144
      ],
      "id": "08f7f4fc-298f-4503-934f-822a64ee05d0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ (() => { const cuit = $('Edit Fields').first().json.client_cuit; const name = $('Edit Fields').first().json.client_name; let ctx = ''; if (cuit) { ctx += 'RECEPTOR CONFIRMADO — CUIT: ' + cuit + '. Si este CUIT aparece en el documento, ese dato ES el receptor con certeza absoluta (receptor_cuit). Úsalo como ancla principal para identificar receptor_nombre y receptor_cuit.\\n'; } if (name) { ctx += 'El receptor aparece como \"' + name + '\" (o variación de razón social). Si lo encontrás en el documento, ese bloque es el receptor.\\n'; } const ocArr = $json.oc_entries_pre || []; const ocSection = ocArr.length > 0 ? '\\n\\n[ADJUNTOS OC CONFIRMADAS: ' + ocArr.map(e => typeof e === 'string' ? e : e.numero_oc).join(', ') + ']' : ''; const fullText = $json[\"text\"] + ocSection; return ctx ? ctx + '\\nTEXTO DEL DOCUMENTO:\\n' + fullText : fullText; })() }}",
        "options": {
          "systemMessage": "Extractor de comprobantes argentinos. Devolvé SOLO JSON válido, sin texto extra.\n\nREGLAS: fecha en DD-MM-YYYY, importes como número (punto decimal), null si no encontrás el dato, confidence_score siempre número 0-1.\n\nEMISOR vs RECEPTOR — REGLA FUNDAMENTAL:\n- EMISOR = proveedor que emite la factura. SIEMPRE está en el ENCABEZADO (parte superior). emisor_cuit = CUIT del encabezado.\n- RECEPTOR = empresa que recibe y paga. Identificado por etiquetas EXPLÍCITAS: \"Señor/es:\", \"Sr.:\", \"Cliente:\", \"A:\", \"Destinatario:\", \"Razón Social del cliente:\".\n- ANCLA DE RECEPTOR: si el prompt incluye CUIT o nombre de referencia, ese dato ES el receptor con certeza absoluta.\n- PROHIBIDO: nunca cruces emisor y receptor.\n\nTIPO_DOCUMENTO: FACTURA_A/B/C/M, NOTA_DEBITO_A/B/C, NOTA_CREDITO_A/B/C, ORDEN_COMPRA, SOLICITUD_COTIZACION, null.\n\nCODIGO_AFIP: código numérico que aparece debajo de la letra del comprobante (A/B/C) en el recuadro central del encabezado. Ejemplos: \"01\"=Factura A, \"02\"=Nota Débito A, \"03\"=Nota Crédito A, \"06\"=Factura B, \"07\"=Nota Débito B, \"08\"=Nota Crédito B, \"11\"=Factura C, \"12\"=Nota Débito C, \"13\"=Nota Crédito C, \"51\"=Factura M. Devolver como string con ceros a la izquierda (ej: \"01\").\n\nPUNTO_VENTA: 4 dígitos antes del guión en el número de comprobante (ej: de \"0003-00001234\" → \"0003\"). Si no surge del número buscarlo en el encabezado.\n\nNUMERO_COMPROBANTE: string completo con punto de venta (ej: \"0001-00001234\").\n\nMONEDA: \"USD\" si aparece USD/U$S/DÓLARES, si no \"ARS\". es_moneda_ars/es_moneda_usd = boolean.\n\nCONDICIÓN IVA: buscar junto al CUIT del emisor y del receptor. Valores posibles: \"IVA Responsable Inscripto\", \"IVA Responsable No Inscripto\", \"IVA No Responsable\", \"IVA Sujeto Exento\", \"Consumidor Final\", \"Responsable Monotributo\", \"Proveedor del Exterior\", \"Cliente del Exterior\", null.\n\nIMPORTES — extraer todos los que aparezcan:\n- neto_gravado: \"Neto Gravado\" / \"Base imponible\" / \"Gravado X%\"\n- monto_exento: \"Exento\" / \"No Gravado\" / \"Monto Exento\"\n- iva_21: monto correspondiente a IVA 21%\n- iva_105: monto correspondiente a IVA 10,5%\n- iva_27: monto correspondiente a IVA 27%\n- iva_5: monto correspondiente a IVA 5%\n- iva_25: monto correspondiente a IVA 2,5%\n- iva: suma total de todos los IVA (o monto global si no está discriminado)\n- percepcion_ingresos_brutos: \"Percepción IIBB\" / \"Perc. Ing. Brutos\"\n- percepcion_iva: \"Percepción IVA\"\n- impuestos_internos: \"Impuestos Internos\" / \"Imp. Internos\" (común en combustibles, tabacos)\n- total: importe final \"Total\" / \"TOTAL A PAGAR\"\n\nCAE — al pie de la factura:\n- nro_cae: número de 14 dígitos. Buscar \"CAE N°:\", \"CAE:\", \"Código de Autorización\".\n- fecha_vto_cae: fecha de vencimiento. Buscar \"Fecha de Vto. de C.A.E.\", \"Vto. CAE\". Formato DD-MM-YYYY.\n\ndocumento_relacionado: OC/remito mencionado como string breve, null si no hay.\n\norden_compra: array con TODOS los números de OC. Si hay sección \"[ADJUNTOS OC CONFIRMADAS: X, Y]\", incluir SIEMPRE esos números. Usar [] si no hay.\n\nDATOS PARCIALES: completá lo que encontrás, null el resto. Bajá confidence_score si faltan campos clave.\n\nESTRUCTURA EXACTA:\n{\"fecha\":null,\"moneda\":\"ARS\",\"es_moneda_ars\":true,\"es_moneda_usd\":false,\"tipo_documento\":null,\"codigo_afip\":null,\"punto_venta\":null,\"numero_comprobante\":null,\"emisor_nombre\":null,\"emisor_cuit\":null,\"condicion_iva_emisor\":null,\"receptor_nombre\":null,\"receptor_cuit\":null,\"condicion_iva_receptor\":null,\"cliente\":null,\"neto_gravado\":null,\"monto_exento\":null,\"iva_21\":null,\"iva_105\":null,\"iva_27\":null,\"iva_5\":null,\"iva_25\":null,\"iva\":null,\"percepcion_ingresos_brutos\":null,\"percepcion_iva\":null,\"impuestos_internos\":null,\"total\":null,\"nro_cae\":null,\"fecha_vto_cae\":null,\"documento_relacionado\":null,\"orden_compra\":[],\"confidence_score\":0.95}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -5760,
        -224
      ],
      "id": "d0839f11-3fae-4186-9012-c01bc9fb7402",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -5776,
        112
      ],
      "id": "5a0cf046-980b-47b4-aac0-89c42408f470",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3wWpOg0wz93MEOwO",
          "name": "Openai ViajeroTop"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// =============================================================================\n// NODO: Parsear JSON IA  (versión corregida — sin pérdida de datos)\n// =============================================================================\n// CAMBIOS vs versión anterior:\n//   + ai_raw_json:  guarda el JSON completo de la IA (va a ia_extra en DB)\n//   + source_file:  nombre del PDF/imagen original\n//   + document_hash: SHA-256 del OCR text para deduplicación / reprocessing\n//   + cliente, incompleto, orden_compra: ahora incluidos explícitamente\n//   = todo lo demás igual\n\nconst items    = $input.all();\nconst results  = [];\nconst ocrItems = $items(\"Loop Over Items\");\nconst ocMap    = ocrItems?.[0]?.json?.oc_map || {};\nconst jobId    = $items(\"Edit Fields\")?.[0]?.json?.job_id ?? null;\n\n// Hash SHA-256 simple en Node.js (disponible en n8n)\nfunction sha256(str) {\n  try {\n    const crypto = require('crypto');\n    return crypto.createHash('sha256').update(str || '').digest('hex');\n  } catch (e) {\n    return null;\n  }\n}\n\n// Parseo robusto de fecha DD-MM-YYYY → YYYY-MM-DD para PostgreSQL\n// (la IA devuelve DD-MM-YYYY según el prompt)\nfunction parseFecha(raw) {\n  if (!raw) return null;\n  const s = String(raw).trim();\n  // Ya en formato ISO\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  // DD-MM-YYYY (formato del prompt)\n  if (/^\\d{2}-\\d{2}-\\d{4}$/.test(s)) {\n    const [d, m, y] = s.split('-');\n    return `${y}-${m}-${d}`;\n  }\n  // DD/MM/YYYY\n  if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(s)) {\n    const [d, m, y] = s.split('/');\n    return `${y}-${m}-${d}`;\n  }\n  return null; // formato desconocido → null en lugar de corromper\n}\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n\n  let text = item.json.output ?? item.json.text ?? \"\";\n  text = String(text).trim();\n\n  const match = text.match(/{[\\s\\S]*}/);\n  if (!match) continue;\n\n  let parsed;\n  try {\n    parsed = JSON.parse(match[0]);\n  } catch (e) {\n    continue;\n  }\n\n  // Confidence normalizada a 0..1\n  let confidence = parsed.confidence_score ?? null;\n  if (confidence !== null) {\n    confidence = Number(confidence);\n    if (Number.isNaN(confidence)) confidence = null;\n    else confidence = Math.max(0, Math.min(1, confidence));\n  }\n\n  const rawText    = ocrItems?.[i]?.json?.text ?? null;\n  const sourceFile = ocrItems?.[i]?.json?.source_file_resolved || ocrItems?.[0]?.json?.source_file_resolved || ocrItems?.[i]?.json?.fileName || null;\n\n  // === OC logic (idéntica a versión anterior) ===\n  const tipoDoc = parsed.tipo_documento || '';\n\n  let ordenCompra = null;\n  let ocArray     = [];\n\n  if (/^FACTURA_/.test(tipoDoc)) {\n    const preResolved = ocrItems?.[i]?.json?.oc_entries_pre || ocrItems?.[0]?.json?.oc_entries_pre || [];\n    const fromMap = Array.isArray(preResolved) ? preResolved.filter(Boolean) : (preResolved ? [preResolved] : []);\n    const rawLLM  = parsed.orden_compra;\n    const fromLLM = Array.isArray(rawLLM) ? rawLLM.filter(Boolean) : (rawLLM ? [String(rawLLM)] : []);\n    const merged  = [...fromMap];\n    for (const llmOC of fromLLM) {\n      const s = String(llmOC);\n      if (!merged.find(e => (typeof e === 'string' ? e : e.numero_oc) === s)) merged.push(llmOC);\n    }\n    ocArray     = merged;\n    ordenCompra = (typeof ocArray[0] === 'string' ? ocArray[0] : ocArray[0]?.numero_oc) || null;\n  } else if (/^(ORDEN_COMPRA|SOLICITUD_COTIZACION)/.test(tipoDoc) && parsed.numero_comprobante) {\n    ordenCompra = parsed.numero_comprobante;\n    ocArray     = [parsed.numero_comprobante];\n  }\n\n  results.push({\n    json: {\n      // --- Trazabilidad ---\n      job_id:        jobId,\n      source_file:   sourceFile,                   // ← NUEVO: nombre del PDF\n      document_hash: sha256(rawText),              // ← NUEVO: hash para deduplicación\n      raw_ocr_text:  rawText,\n      ai_raw_json:   parsed,                       // ← NUEVO: JSON completo de la IA\n\n      // --- Datos extraídos por la IA ---\n      fecha:                      parseFecha(parsed.fecha),  // ← mejorado: robusto\n      moneda:                     parsed.moneda ?? null,\n      es_moneda_ars:              parsed.es_moneda_ars ?? null,\n      es_moneda_usd:              parsed.es_moneda_usd ?? null,\n\n      tipo_documento:             parsed.tipo_documento ?? null,\n      numero_comprobante:         parsed.numero_comprobante ?? null,\n\n      emisor_nombre:              parsed.emisor_nombre ?? null,\n      emisor_cuit:                parsed.emisor_cuit ?? null,\n\n      receptor_nombre:            parsed.receptor_nombre ?? null,\n      receptor_cuit:              parsed.receptor_cuit ?? null,\n\n      cliente:                    parsed.cliente ?? null,    // ← NUEVO: ya no se pierde\n\n      neto_gravado:               parsed.neto_gravado ?? null,\n      iva:                        parsed.iva ?? null,\n      total:                      parsed.total ?? null,\n\n      percepcion_ingresos_brutos: parsed.percepcion_ingresos_brutos ?? null,\n      percepcion_iva:             parsed.percepcion_iva ?? null,\n\n      documento_relacionado:      parsed.documento_relacionado ?? null,\n\n      orden_compra:               ordenCompra,\n      oc_array:                   ocArray,\n\n\n      // --- Campos fiscales extendidos ---\n      codigo_afip:               parsed.codigo_afip ?? null,\n      punto_venta:               parsed.punto_venta ?? null,\n      condicion_iva_emisor:      parsed.condicion_iva_emisor ?? null,\n      condicion_iva_receptor:    parsed.condicion_iva_receptor ?? null,\n      monto_exento:              parsed.monto_exento ?? null,\n      iva_21:                    parsed.iva_21 ?? null,\n      iva_105:                   parsed.iva_105 ?? null,\n      iva_27:                    parsed.iva_27 ?? null,\n      iva_5:                     parsed.iva_5 ?? null,\n      iva_25:                    parsed.iva_25 ?? null,\n      impuestos_internos:        parsed.impuestos_internos ?? null,\n      nro_cae:                   parsed.nro_cae ? String(parsed.nro_cae) : null,\n      fecha_vto_cae:             parseFecha(parsed.fecha_vto_cae),\n      confidence_score:           confidence,\n      incompleto: !!(parsed.tipo_documento && !parsed.total && !parsed.numero_comprobante), // ← NUEVO\n    }\n  });\n}\n\nreturn results;\n"
      },
      "id": "87445632-692b-4b1b-8314-d5e17cce9ffd",
      "name": "Parsear JSON IA",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -5360,
        -224
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "788e0e10-54ee-4278-aa6e-0aac9d3fb9bc",
              "name": "job_id",
              "value": "={{$json[\"job_id\"]}}",
              "type": "string"
            },
            {
              "id": "d5540f94-3c4e-4954-bc29-d5b72bf21ea2",
              "name": "oc_array",
              "value": "={{ $json.oc_array }}",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4928,
        -464
      ],
      "id": "b1f17d76-e62e-49cd-9669-71492bcc2fd8",
      "name": "Adjuntar Job a filas",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "7bd84bf3-e6d4-4281-a889-ea498201c351",
              "leftValue": "={{ Number($json.total || 0) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "c3d4e5f6-oc-tipo-documento-check",
              "leftValue": "={{ $json.tipo_documento || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "d4e5f6a7-numero-comprobante-check",
              "leftValue": "={{ $json.numero_comprobante || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "e5f6a7b8-emisor-nombre-check",
              "leftValue": "={{ $json.emisor_nombre || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4672,
        -528
      ],
      "id": "9c266eac-f7d0-4f77-ae95-f2dd4375c70c",
      "name": "¿Tiene Factura?"
    },
    {
      "parameters": {
        "tableId": "=pdf_job_rows",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "job_id",
              "fieldValue": "={{$json.job_id}}"
            },
            {
              "fieldId": "fecha",
              "fieldValue": "={{ $json.fecha || null }}"
            },
            {
              "fieldId": "tipo_documento",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.tipo_documento }}"
            },
            {
              "fieldId": "numero_comprobante",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.numero_comprobante }}"
            },
            {
              "fieldId": "moneda",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.moneda }}"
            },
            {
              "fieldId": "es_moneda_ars",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.es_moneda_ars }}"
            },
            {
              "fieldId": "es_moneda_usd",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.es_moneda_usd }}"
            },
            {
              "fieldId": "proveedor",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.emisor_nombre }}"
            },
            {
              "fieldId": "cuit",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.emisor_cuit }}"
            },
            {
              "fieldId": "receptor_nombre",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.receptor_nombre }}"
            },
            {
              "fieldId": "receptor_cuit",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.receptor_cuit }}"
            },
            {
              "fieldId": "neto_gravado",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.neto_gravado }}"
            },
            {
              "fieldId": "total",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.total }}"
            },
            {
              "fieldId": "percepcion_ingresos_brutos",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.percepcion_ingresos_brutos }}"
            },
            {
              "fieldId": "percepcion_iva",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.percepcion_iva }}"
            },
            {
              "fieldId": "documento_relacionado",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.documento_relacionado }}"
            },
            {
              "fieldId": "iva",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.iva }}"
            },
            {
              "fieldId": "llm_model",
              "fieldValue": "={{ 'gpt-4.1-mini' }}"
            },
            {
              "fieldId": "ocr_model",
              "fieldValue": "={{ 'mistral-ocr + extract-from-file' }}"
            },
            {
              "fieldId": "processed_at",
              "fieldValue": "={{ (new Date()).toISOString() }}"
            },
            {
              "fieldId": "raw_ocr_text",
              "fieldValue": "={{$json.raw_ocr_text || $json.text}}"
            },
            {
              "fieldId": "confidence_score",
              "fieldValue": "={{$json.confidence_score}}"
            },
            {
              "fieldId": "ia_extra",
              "fieldValue": "={{ JSON.stringify($('Adjuntar Job a filas').item.json.ai_raw_json || {}) }}"
            },
            {
              "fieldId": "source_file",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.source_file }}"
            },
            {
              "fieldId": "document_hash",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.document_hash }}"
            },
            {
              "fieldId": "cliente",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.cliente }}"
            },
            {
              "fieldId": "incompleto",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.incompleto ?? false }}"
            },
            {
              "fieldId": "orden_compra",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.orden_compra }}"
            },
            {
              "fieldId": "codigo_afip",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.codigo_afip }}"
            },
            {
              "fieldId": "punto_venta",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.punto_venta }}"
            },
            {
              "fieldId": "condicion_iva_emisor",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.condicion_iva_emisor }}"
            },
            {
              "fieldId": "condicion_iva_receptor",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.condicion_iva_receptor }}"
            },
            {
              "fieldId": "monto_exento",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.monto_exento }}"
            },
            {
              "fieldId": "iva_21",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.iva_21 }}"
            },
            {
              "fieldId": "iva_105",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.iva_105 }}"
            },
            {
              "fieldId": "iva_27",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.iva_27 }}"
            },
            {
              "fieldId": "iva_5",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.iva_5 }}"
            },
            {
              "fieldId": "iva_25",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.iva_25 }}"
            },
            {
              "fieldId": "impuestos_internos",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.impuestos_internos }}"
            },
            {
              "fieldId": "nro_cae",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.nro_cae }}"
            },
            {
              "fieldId": "fecha_vto_cae",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.fecha_vto_cae }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4432,
        -544
      ],
      "id": "514a10a8-12d1-43ca-8c37-c162c6bfe0d9",
      "name": "Create a row",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "DAhNF13IIXxF6LTl",
          "name": "Supabase Data Laundering"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst adjItems = $(\"Adjuntar Job a filas\").all();\nconst result = [];\n\n// ── Reverse lookup: numero_oc → { nombre_adjunto, codigo_obra } ─────────────\n// Permite recuperar codigo_obra/nombre_adjunto incluso cuando oc_entries_pre\n// llegó vacío (fileName no disponible en Inyectar OC Map) y los OCs en\n// oc_array son strings planos provenientes del LLM.\nconst ocByNum = {};\ntry {\n  const rawOcMap = $items(\"Leer OC Map\")?.[0]?.json?.oc_map || {};\n  for (const entries of Object.values(rawOcMap)) {\n    if (!Array.isArray(entries)) continue;\n    for (const entry of entries) {\n      if (entry && entry.numero_oc && !ocByNum[entry.numero_oc]) {\n        ocByNum[entry.numero_oc] = {\n          nombre_adjunto: entry.nombre_adjunto || null,\n          codigo_obra:    entry.codigo_obra    || null,\n        };\n      }\n    }\n  }\n} catch(e) {}\n\nfor (const item of items) {\n  const rowId = item.json.id;\n  if (!rowId) continue;\n\n  const tipoDoc = item.json.tipo_documento || '';\n  if (!/^FACTURA_/.test(tipoDoc)) continue;\n\n  const jobId = String(item.json.job_id || '');\n  const numComp = String(item.json.numero_comprobante || '');\n\n  const adjItem = adjItems.find(a =>\n    String(a.json.job_id || '') === jobId &&\n    String(a.json.numero_comprobante || '') === numComp\n  );\n\n  let ocArray = adjItem?.json?.oc_array || [];\n  if (!Array.isArray(ocArray)) ocArray = ocArray ? [ocArray] : [];\n\n  for (const oc of ocArray) {\n    // Soporte ambos formatos: string legacy o objeto { numero_oc, nombre_adjunto, codigo_obra }\n    let numero_oc, nombre_adjunto, codigo_obra;\n\n    if (typeof oc === 'string') {\n      numero_oc = oc.trim();\n      // Backfill desde oc_map cuando oc_entries_pre llegó vacío\n      const lookup = ocByNum[numero_oc] || {};\n      nombre_adjunto = lookup.nombre_adjunto || null;\n      codigo_obra    = lookup.codigo_obra    || null;\n    } else if (oc && typeof oc === 'object') {\n      numero_oc = String(oc.numero_oc || '').trim();\n      nombre_adjunto = oc.nombre_adjunto || null;\n      codigo_obra    = oc.codigo_obra    || null;\n      // Backfill si faltan campos en el objeto\n      if (!codigo_obra || !nombre_adjunto) {\n        const lookup = ocByNum[numero_oc] || {};\n        nombre_adjunto = nombre_adjunto || lookup.nombre_adjunto || null;\n        codigo_obra    = codigo_obra    || lookup.codigo_obra    || null;\n      }\n    } else {\n      continue;\n    }\n\n    if (numero_oc) {\n      result.push({ json: { row_id: rowId, numero_oc, nombre_adjunto, codigo_obra } });\n    }\n  }\n}\n\nreturn result;\n"
      },
      "id": "465fae14-efe1-4b4d-b2e5-6f77d10f88c5",
      "name": "Expandir OCs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4224,
        -272
      ]
    },
    {
      "parameters": {
        "tableId": "pdf_job_row_oc",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "row_id",
              "fieldValue": "={{ $json.row_id }}"
            },
            {
              "fieldId": "numero_oc",
              "fieldValue": "={{ $json.numero_oc }}"
            },
            {
              "fieldId": "nombre_adjunto",
              "fieldValue": "={{ $json.nombre_adjunto ?? null }}"
            },
            {
              "fieldId": "codigo_obra",
              "fieldValue": "={{ $json.codigo_obra ?? null }}"
            }
          ]
        }
      },
      "id": "5390498c-760d-4b15-a658-87121f58f1f2",
      "name": "Crear OC en DB",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3984,
        -272
      ],
      "credentials": {
        "supabaseApi": {
          "id": "DAhNF13IIXxF6LTl",
          "name": "Supabase Data Laundering"
        }
      }
    },
    {
      "parameters": {
        "tableId": "pdf_document_audit_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "document_row_id",
              "fieldValue": "={{ $json[\"id\"] }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "={{ 'llm_completed' }}"
            },
            {
              "fieldId": "payload",
              "fieldValue": "={{ JSON.stringify({ job_id: $json[\"job_id\"], numero_comprobante: $json[\"numero_comprobante\"], moneda: $json[\"moneda\"], total: $json[\"total\"], llm_model: $json[\"llm_model\"], ocr_model: $json[\"ocr_model\"], confidence_score: $json[\"confidence_score\"], status: \"created\" }) }}\n"
            },
            {
              "fieldId": "created_by",
              "fieldValue": "={{ 'system:n8n' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4224,
        -464
      ],
      "id": "fb5168e7-81d1-44d1-af35-cd071a3bec08",
      "name": "Log documento creado",
      "credentials": {
        "supabaseApi": {
          "id": "DAhNF13IIXxF6LTl",
          "name": "Supabase Data Laundering"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "86a6101b-e95b-4dec-bcc5-44faa1b0506f",
              "leftValue": "={{ $json[\"confidence_score\"] || 0 }}",
              "rightValue": 0.8,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "f6a7b8c9-incompleto-check",
              "leftValue": "={{ $json.incompleto }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4224,
        -80
      ],
      "id": "91336896-7740-4212-acfc-f15650602f18",
      "name": "Confianza baja?"
    },
    {
      "parameters": {
        "tableId": "pdf_document_audit_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "document_row_id",
              "fieldValue": "={{ $json[\"id\"] }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "={{ 'low_confidence' }}"
            },
            {
              "fieldId": "payload",
              "fieldValue": "={{ JSON.stringify({ job_id: $json[\"job_id\"], numero_comprobante: $json[\"numero_comprobante\"], moneda: $json[\"moneda\"], total: $json[\"total\"], llm_model: $json[\"llm_model\"], ocr_model: $json[\"ocr_model\"], confidence_score: $json[\"confidence_score\"] }) }}"
            },
            {
              "fieldId": "created_by",
              "fieldValue": "={{ 'system:n8n' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3968,
        -96
      ],
      "id": "cde0c600-846d-49c2-8d0d-d565d7a0d38d",
      "name": "Log low confidence",
      "credentials": {
        "supabaseApi": {
          "id": "DAhNF13IIXxF6LTl",
          "name": "Supabase Data Laundering"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pdf_job_rows",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json[\"id\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_error_message",
              "fieldValue": "={{ $('Adjuntar Job a filas').item.json.incompleto ? 'DATOS_INCOMPLETOS' : 'LOW_CONFIDENCE' }}"
            },
            {
              "fieldId": "retry_count",
              "fieldValue": "={{ 0 }}"
            },
            {
              "fieldId": "max_retries",
              "fieldValue": "={{ 0 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3744,
        -96
      ],
      "id": "de7bd1ec-3511-4559-aa55-183254784f4f",
      "name": "Marcar documento baja confianza",
      "credentials": {
        "supabaseApi": {
          "id": "DAhNF13IIXxF6LTl",
          "name": "Supabase Data Laundering"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "pdf_job_rows",
        "limit": 1000,
        "filters": {
          "conditions": [
            {
              "keyName": "job_id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').first().json.job_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4224,
        -752
      ],
      "id": "0084a7e7-8f2a-4256-95a4-b3ef3b7e7c1b",
      "name": "Contar documentos procesados",
      "credentials": {
        "supabaseApi": {
          "id": "DAhNF13IIXxF6LTl",
          "name": "Supabase Data Laundering"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// total = solo registros pdf_job_rows (facturas, notas débito/crédito, OCs principales)\n// doc_rows viene de 'Calcular total real' y NO incluye las OCs adjuntas de pdf_job_row_oc\nconst totalData = $input.first()?.json;\nconst total = Number(totalData?.doc_rows) || $items('Contar documentos procesados').length;\n\n// failed = documentos con problemas de OCR/IA\nlet failed = 0;\nconst llmItems = $items('Adjuntar Job a filas');\nconst ocrItems = $items('Loop Over Items');\nconst mainDocs = llmItems.length;\n\nfor (let i = 0; i < mainDocs; i++) {\n  const llm = llmItems[i]?.json;\n  const ocr = ocrItems[i]?.json;\n  const noTexto = !ocr?.text || ocr.text.trim().length === 0;\n  const noLlm = llm == null || (llm.total == null && llm.confidence_score == null);\n  const bajaConfianza = llm?.confidence_score < 0.8;\n  if (noTexto || noLlm || bajaConfianza) failed++;\n}\n\n// processed = documentos ok (sin fallos)\nconst processed = Math.max(0, total - failed);\n\nreturn [{ json: { total_documents: total, processed_documents: processed, failed_documents: failed } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3888,
        -752
      ],
      "id": "e4472814-144d-4c7a-8a58-6143eb0d474a",
      "name": "Calcular totales y fallos"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pdf_jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').first().json.job_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json[\"failed_documents\"] > 0 ? \"done_with_warnings\" : \"done\" }}"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{null}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3696,
        -752
      ],
      "id": "094e4adc-16eb-442b-8d09-375194f8e127",
      "name": "Marcar job completado",
      "credentials": {
        "supabaseApi": {
          "id": "DAhNF13IIXxF6LTl",
          "name": "Supabase Data Laundering"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pdf_jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').first().json.job_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "error"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{ 'Error en job ' + $('Edit Fields').first().json.job_id + ': ' + ($json.message || $json.error?.message || 'Error al crear filas pdf_job_rows') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4224,
        192
      ],
      "id": "af94931d-1bdf-4267-b069-2e4f14d7a6cf",
      "name": "Marcar job en error",
      "credentials": {
        "supabaseApi": {
          "id": "DAhNF13IIXxF6LTl",
          "name": "Supabase Data Laundering"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f2c57ee2-c0a3-4d5f-ae0c-93dac8fb13d0",
      "name": "Responder al cliente",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -3984,
        -560
      ]
    },
    {
      "parameters": {
        "jsCode": "// Conteo delegado 100% a DB via trigger sync_job_document_counts\n// Solo pasa el item al AI Agent sin tocar contadores\nreturn [$input.first()];"
      },
      "id": "e8918e10-b5a3-4ec3-bdb7-2d4d0f1c3973",
      "name": "Contar doc procesado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6000,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtiene el total real de documentos digitalizados:\n// pdf_job_rows (facturas, notas) + pdf_job_row_oc (OCs adjuntas)\n// runOnceForAllItems = true: se ejecuta UNA vez para todos los items\nconst jobId = $('Edit Fields').first().json.job_id;\nlet totalDocs = 0, docRows = 0, ocRows = 0;\n\ntry {\n  const creds = await this.getCredentials('supabaseApi');\n  const supabaseUrl = creds.host;\n  const supabaseKey = creds.serviceRole || creds.apiKey;\n\n  const res = await fetch(`${supabaseUrl}/rest/v1/rpc/get_job_document_total`, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'apikey': supabaseKey,\n      'Authorization': `Bearer ${supabaseKey}`\n    },\n    body: JSON.stringify({ p_job_id: jobId })\n  });\n  const data = await res.json();\n  // Supabase RPC puede devolver el objeto directo o envuelto en array\n  const result = Array.isArray(data) ? data[0] : data;\n  totalDocs = Number(result?.total  || 0);\n  docRows  = Number(result?.doc_rows || 0);\n  ocRows   = Number(result?.oc_rows  || 0);\n} catch(e) {\n  console.log('Error obteniendo total real:', e.message);\n}\n\n// Devolver UN SOLO item con el total (no mapear los 20 inputs)\nreturn [{ json: { job_id: jobId, total_real: totalDocs, doc_rows: docRows, oc_rows: ocRows } }];"
      },
      "id": "be7ee99c-5dcd-425a-a5f2-b6421a4a8d1a",
      "name": "Calcular total real",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4064,
        -752
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─── PF6-FIX: Doc fallido — continuar sin matar el job ───────────────────\n// Recibe errores de: Parsear JSON IA, Adjuntar Job a filas, Create a row\n// En lugar de matar el job, loguea y continúa el loop al siguiente doc.\n\nconst item = $input.first();\nlet jobId = item.json?.job_id;\nif (!jobId) {\n  try { jobId = $('Edit Fields').first().json?.job_id; } catch(e) {}\n}\nconst sourceFile = item.json?.source_file || item.json?.fileName || 'desconocido';\nconst errMsg = item.json?.message || item.json?.error?.message\n  || item.json?.description || 'Error no especificado';\n\nconsole.error(`[PF6-FIX] ⚠️ Doc error IGNORADO (job sigue). job=${jobId} | file=${sourceFile} | err=${errMsg}`);\n\nreturn [{ json: {\n  job_id: jobId ?? null,\n  source_file: sourceFile,\n  _doc_error: true,\n  _error_msg: errMsg,\n  _pf6_fix: true\n} }];\n"
      },
      "id": "pf6-fix-continuar-error-doc-v2",
      "name": "Continuar con error de doc",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4700,
        400
      ],
      "onError": "continueErrorOutput",
      "notes": "PF6-FIX 2026-05-28: Evita que un doc fallido mate el job. Loopea al siguiente."
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Subir ZIP": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Marcar job en procesamiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Descomprimir ZIP2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar job en procesamiento": {
      "main": [
        [
          {
            "node": "Responder al cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descomprimir ZIP2": {
      "main": [
        [
          {
            "node": "Leer PDFs1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leer Imagenes JPG",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leer Imagenes PNG",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leer OC Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer PDFs1": {
      "main": [
        [
          {
            "node": "Añadir fileName PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Añadir fileName PDF": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Normalizar PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar PDF": {
      "main": [
        [
          {
            "node": "Unir todo texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Imagenes JPG": {
      "main": [
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text": {
      "main": [
        [
          {
            "node": "Normalizar OCR JPG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar OCR JPG": {
      "main": [
        [
          {
            "node": "Unir Imagenes OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Imagenes PNG": {
      "main": [
        [
          {
            "node": "Extract text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text1": {
      "main": [
        [
          {
            "node": "Normalizar OCR PNG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar OCR PNG": {
      "main": [
        [
          {
            "node": "Unir Imagenes OCR",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Unir Imagenes OCR": {
      "main": [
        [
          {
            "node": "Unir todo texto",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Unir todo texto": {
      "main": [
        [
          {
            "node": "Inyectar OC Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inyectar OC Map": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Contar documentos procesados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contar doc procesado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parsear JSON IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear JSON IA": {
      "main": [
        [
          {
            "node": "Adjuntar Job a filas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continuar con error de doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adjuntar Job a filas": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "¿Tiene Factura?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continuar con error de doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene Factura?": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Log documento creado",
            "type": "main",
            "index": 0
          },
          {
            "node": "Confianza baja?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expandir OCs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continuar con error de doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expandir OCs": {
      "main": [
        [
          {
            "node": "Crear OC en DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contar documentos procesados": {
      "main": [
        [
          {
            "node": "Calcular total real",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular totales y fallos": {
      "main": [
        [
          {
            "node": "Marcar job completado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confianza baja?": {
      "main": [
        [
          {
            "node": "Log low confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log low confidence": {
      "main": [
        [
          {
            "node": "Marcar documento baja confianza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contar doc procesado": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular total real": {
      "main": [
        [
          {
            "node": "Calcular totales y fallos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continuar con error de doc": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "errorWorkflow": "lMwboNxgo9QNkXot"
  },
  "versionId": "42f82752-0535-487c-9f64-3481d705f9b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf317c1711cc743061428d8653cf7730f5a7a4f4d293790b1dd90ddfc4b09987"
  },
  "id": "lMwboNxgo9QNkXot",
  "tags": []
}